html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.settings {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #f4f4f4;

}

.settings > div {
  display: flex;
  margin: 0 2rem;
  width: 50px;
  justify-content: center;
}

.settings-display {
  display: flex;
  justify-content: center;
}

.settings-display > div {
  margin: 0 5%;
}

.timer {
  display: grid;
  grid-template: repeat(4,1fr) / repeat(4,1fr);
  grid-template-areas: "play . . stop"
                       ". mode mode ."
                       ". time time . "
                       "pause . . restart";
  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin: 0 auto; 
}

.play { grid-area: play; }

.stop { grid-area: stop; }

.time { grid-area: time; }

.restart { grid-area: restart; }

.mode { grid-area: mode; }

.pause { grid-area: pause; }


.timer > div {
  border: 1px solid red;
  justify-content: center;
  text-align: center;
  font-size: 1.8em;
}