html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #0E0B16;
}

.settings {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.settings > div {
  display: flex;
  margin: 0 2rem;
  width: 50px;
  justify-content: center;
  color: #E7DFDD;
}

.settings-display {
  display: flex;
  justify-content: center;
  color: #E7DFDD;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.settings-display > div {
  width: 50px;
  margin: 0 2rem;
}

.timer {
  display: grid;
  grid-template: repeat(4,1fr) / repeat(4,1fr);
  grid-template-areas: "play . . stop"
                       ". mode mode ."
                       ". time time . "
                       "pause . . restart";
  width: 350px;
  height: 250px;
  border: 5px solid #E7DFDD;
  border-radius: 5%;
  margin: 0 auto;
  margin-top: 1.1rem; 
}

.play { 
  grid-area: play;
  cursor: pointer;
}

.stop { 
  grid-area: stop; 
  cursor: pointer;
}

.restart { 
  grid-area: restart; 
  cursor: pointer;
}

.pause { 
  grid-area: pause; 
  cursor: pointer;
}

.time { 
  grid-area: time; 
}

.mode { 
  grid-area: mode; 
}

.timer > div {
  justify-content: center;
  text-align: center;
  font-size: 1.8em;
  color: #E7DFDD;
}

button {
  border-radius: 50%;
  outline: none;
}